/* Base Application Styles */
html,body,#app{
  height: 100%;
}
body {
  font-family:'Microsoft Yahei';
  color: #fff;
  background: #222;

}
ul,ol{
  margin:0;
  padding:0;
  list-style:none;
}
figure{
  margin:0;
}
a{
  color:inherit;
  text-decoration:none;
}
.index{
  height: 100%;
}
/* .index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
} */
.loginPage{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}